<ion-view view-title="Inställningar">
	<ion-content>
		<div class="card">

			<!-- Reset -->
			<div class="item item-avatar">
				<img src="img/drawable-mdpi-icon.png">
				<h2><strong>Mattemongot &copy;</strong></h2>
				<p>Version: {{$root.version}}
			</div>
			<div class="item list">
				<li class="item item-toggle">
					På tid?
					<label class="toggle toggle-postitive">
						<input type="checkbox" ng-model="$storage.userSettings.timed">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</li>
				<!-- Reset -->
				<li class="item">
					<div class="row">
						<div class="col text-center">
							<button ng-click=showConfirm() class="button button-large button-outline icon ion-ios-trash button-assertive"> Nollställ</button>
						</div>
					</div>
				</li>
			</div>
		</div>
	</ion-content>
</ion-view>