# Dependencies
node_modules/

# Platforms
platforms/
plugins/

# Build output
www/
dist/
out-tsc/

# Capacitor
android/
ios/

# IDE
.idea/
.vscode/
*.swp
*.swo
.vs/
*.suo

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/

# Misc
*.log
npm-debug.log*
.angular/
