.level-card {
  text-align: center;
  
  ion-card-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--ion-color-primary);
  }
  
  .level-name {
    font-size: 0.9rem;
    color: var(--ion-color-medium);
    margin-bottom: 10px;
  }
  
  .medals-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    min-height: 40px;
    
    .medal {
      font-size: 32px;
      color: var(--ion-color-medium-tint);
      
      &.bronze {
        color: #cd7f32;
      }
      
      &.silver {
        color: #c0c0c0;
      }
      
      &.gold {
        color: #ffd700;
      }
    }
  }
}
